{% for article in articles %}
    <div class="padded-content post-preview-wrapper{% if not loop.last or hasToPaginate %} bordered{% endif %}">
        <article class="row">
            <div class="col-md-3">
                <img src="{{ cover_image_path(article.slug) }}?width=150" alt="{{ article.title }} preview"/>
            </div>

            <div class="col-md-9">
                <h2><a href="{{ publication_path(article, app.request.locale) }}">{{ article.title }}</a></h2>
                <div>{{ article.metaDescription }}</div>
            </div>
        </article>

        {% block post_info %}
            {% include '@HarentiusBlog/Blog/_post_info.html.twig' %}
        {% endblock %}
    </div>

    {% block loop_end %}{% endblock %}
{% endfor %}
