<div class="post-info row">
    <div class="pull-left col-lg-8 col-md-8 col-sm-12 col-xs-12 post-stats">
        <span>
            <i class="fa fa-calendar"></i>
            {{ article.publishedAt|date('d/m/Y') }}
        </span>

        {% block author_name %}
        <span>
            <i class="fa fa-user"></i>
            {{ article.author.username }}
        </span>
        {% endblock %}

        <span>
            <i class="fa fa-folder"></i>
            <a href="{{ path('harentius_blog_category', { 'slug': article.category.slugWithParents }) }}">
                {{ article.category.name }}
            </a>
        </span>

        <span>
            <i class="fa fa-bar-chart"></i>
            {{ article.viewsCount }}
        </span>

        {% block after_post_info %}{% endblock %}
    </div>
    <div class="post-tags col-lg-4 col-md-4 col-sm-12 col-xs-12 text-lg-right text-md-right">
        {% for tag in article.tags %}
            {% spaceless %}
        <span>
            <i class="fa fa-tag"></i>
            <a href="{{ path('harentius_blog_tag', { 'slug': tag.slug }) }}" rel="tag">{{ tag.name }}</a>
        </span>
            {% endspaceless %}
        {% endfor %}
    </div>
</div>
