{% extends '@HarentiusBlog/base.html.twig' %}

{% block page_title %}
    {%- if page %}{{ page.title }}{% endif -%}
{% endblock %}

{% block page_meta_description %}
    {%- if page and page.metaDescription -%}
        {{- page.metaDescription|raw -}}
    {% else %}
        {{- get_setting('homepage_meta_description')|raw -}}
    {%- endif -%}
{% endblock %}

{% block page_meta_keywords %}
    {%- if page and page.metaKeywords -%}
        {{- page.metaKeywords|raw -}}
    {%- else -%}
        {{- get_setting('homepage_meta_keywords')|raw -}}
    {%- endif -%}
{% endblock %}

{% block content %}
    {% if page %}
    <div class="padded-content">
        <h1>{{ page.title }}</h1>
        <div>{{ page.text|raw }}</div>
    </div>
    {% endif %}

    {% include('@HarentiusBlog/Blog/_articles.html.twig') %}

    {{ knp_pagination_render(articles) }}
{% endblock %}
