<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <title>
            {%- block raw_title -%}
                {% if block('page_title') is not empty %}{% block page_title %}{% endblock %} | {% endif %}{{ get_setting('project_name') }}
            {%- endblock -%}
        </title>

        {% if block('page_meta_description') is not empty -%}
        <meta name="description" content="{% block page_meta_description %}{% endblock %}" />
        {%- endif %}

    {% if block('page_meta_keywords') is not empty -%}
        <meta name="keywords" content="{% block page_meta_keywords %}{% endblock %}" />
    {%- endif %}

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width" />
    {% if noIndex is defined and noIndex %}
        <meta name="robots" content="noindex,follow">
    {% endif %}
        {% block meta_extra %}{% endblock %}
        {% block common_stylesheets %}
            <link href="{{ asset('bundles/harentiusblog/common.css', 'harentius_blog') }}" media="all" rel="stylesheet" type="text/css" />
        {% endblock %}

        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% if app.environment != 'dev' %}
            {{ include('HarentiusBlogBundle::_google_analytics.html.twig') }}
        {% endif %}
        {% block head_extra %}{% endblock %}
    </head>

    <body>
        <div class="container">
            {% block menu %}
            <div class="padded-content main-menu-wrapper">
                <nav class="navbar navbar-default">
                    <div class="clearfix">
                        <div class="navbar-header">
                            <a class="logo" href="{{ path('harentius_blog_homepage') }}"></a>
                        </div>
                        {{ knp_menu_render('main', {'currentClass': 'active', 'template': 'HarentiusBlogBundle:Menu:knp_menu.html.twig'}) }}
                        <button type="button" class="main-menu-button glyphicon glyphicon-menu-hamburger hidden-lg hidden-md categories-menu-button" data-toggle="collapse" data-target="#categories-menu"></button>
                        <a href="{{ path('harentius_blog_feed') }}" class="main-menu-button rss-feed"><i class="fa-feed"></i></a>
                    </div>
                    <div class="clearfix">
                        <div class="collapse out categories-menu" id="categories-menu">
                        {{ render_cached(controller('HarentiusBlogBundle:Sidebar:categories', { showNumber: false })) }}
                        </div>
                    </div>
               </nav>
            </div>
            {% endblock %}

            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 page-content">
                    <div>
                        {{ wo_render_breadcrumbs() }}{% block after_breadcrumbs_content %}{% endblock %}
                    </div>
                    {% block content %}{% endblock %}
                </div>

                <aside class="col-lg-3 col-md-3 hidden-sm hidden-xs sidebar">
                    {% block sidebar %}
                        {{ include('HarentiusBlogBundle:Sidebar:index.html.twig') }}
                    {% endblock %}
                    {% block sidebar_after_content %}{% endblock %}
                </aside>
            </div>

            {% block footer %}
            <footer class="padded-content footer clearfix">
                {% block footer_content %}All right reserved. {% endblock %}
                {% block footer_after_content %}{% endblock %}
            </footer>
            {% endblock %}
            {% block last_container_content %}{% endblock %}
        </div>
        {% block last_body_content %}{% endblock %}
        {% block common_javascripts %}
            <script src="{{ asset('bundles/harentiusblog/manifest.js', 'harentius_blog') }}"></script>
            <script src="{{ asset('bundles/harentiusblog/common.js', 'harentius_blog') }}"></script>
        {% endblock %}

    {% block javascripts %}{% endblock %}
    </body>
</html>
