<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Login</title>

        <link href="{{ asset('bundles/harentiusblog/common.css', 'harentius_blog') }}" media="all" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/harentiusblog/login.css', 'harentius_blog') }}" media="all" rel="stylesheet" type="text/css" />

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <div id="loginbox" class="loginbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Sign In</div>
                    </div>

                    <div class="panel-body">
                        {% if error %}
                            <div class="alert alert-danger" role="alert">
                                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            </div>
                        {% endif %}
                        <form id="loginform" class="form-horizontal" role="form" action="{{ path('login_check') }}" method="POST">
                            <div class="input-group input-group-text">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="login-username" type="text" class="form-control" name="_username" value="{{ last_username }}" placeholder="username or email" />
                            </div>
                            <div class="input-group input-group-text">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="login-password" type="password" class="form-control" name="_password" placeholder="password" />
                            </div>
                            <div class="input-group remember-me-wrapper">
                                <input id="login-remember" type="checkbox" name="_remember_me" />
                                <label for="_remember_me">Remember me</label>
                            </div>
                            <div class="input-group submit-wrapper">
                                <button class="btn btn-success" id="_submit" name="_submit" type="submit">Log in</button>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
