<div class="widget-title">{{ 'Categories'|trans }}</div>
{{ render_cached(controller('HarentiusBlogBundle:Sidebar:categories')) }}
<div class="widget-title">{{ 'Archive'|trans }}</div>
{{ render_cached(controller('HarentiusBlogBundle:Sidebar:archive')) }}
<div class="widget-title">{{ 'Tags Cloud'|trans }}</div>
{{ render_cached(controller('HarentiusBlogBundle:Sidebar:tags')) }}
