<div class="widget-title">{{ 'Categories'|trans }}</div>
{{ render(controller('Harentius\\BlogBundle\\Controller\\SidebarController::categories')) }}
{#<div class="widget-title">{{ 'Archive'|trans }}</div>#}
{#{{ render(controller('Harentius\\BlogBundle\\Controller\\SidebarController::archive')) }}#}
{#<div class="widget-title">{{ 'Tags Cloud'|trans }}</div>#}
{#{{ render(controller('Harentius\\BlogBundle\\Controller\\SidebarController::tags')) }}#}
