<h3>{{ 'Categories'|trans }}</h3>
{{ render_cached(controller('HarentiusBlogBundle:Sidebar:categories')) }}
<h3>{{ 'Archive'|trans }}</h3>
{{ render_cached(controller('HarentiusBlogBundle:Sidebar:archive')) }}
<h3>{{ 'Tags Cloud'|trans }}</h3>
{{ render_cached(controller('HarentiusBlogBundle:Sidebar:tags')) }}
